.main_link {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.main_link.active,
.main_link:hover {
  background-color: #e6e8eb;
}

.main_link.calendar {
  background-image: url(../../assets/images/calendar.svg);
}

.main_link.list {
  background-image: url(../../assets/images/list.svg);
}

.main_link.dashboard {
  background-image: url(../../assets/images/dashboard.svg);
}

.main_link.users {
  background-image: url(../../assets/images/users.svg);
}

.main_link.settings {
  background-image: url(../../assets/images/settings.svg);
}
