.accent_btn_label input[type="checkbox"] {
  display: none;
}

.accent_btn_label input[type="checkbox"] + span {
  position: relative;
  display: block;
  padding: 16px;
  min-width: 120px;
  color: #231834;
  line-height: 22px;
  font-size: 15px;
  border-radius: 4px;
  background-color: #e3f0f4;
  border: 1px solid #e3f0f4;
  cursor: pointer;
}

.accent_btn_label input[type="checkbox"]:checked + span {
  border-color: var(--color-accent);
  background-color: transparent;
}

.accent_btn_label input[type="checkbox"] + span::after {
  content: '\2713';
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  height: 24px;
  width: 24px;
  line-height: 14px;
  border-radius: 2px;
  border: 1px solid #90c2d7;
  display: none;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 0 0 6px;
}

.accent_btn_label input[type="checkbox"]:checked + span::after {
  display: block;
  color: #fff;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.accent_btn_label input[type="checkbox"] + span:hover::after {
  display: block;
}
