.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 24px;
  overflow: auto;
}

.h1 {
  font-size: 1.2rem;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #dfdfdf;
}

.success_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success_panel {
  width: 384px;
  background: #fff;
  border-radius: 3px;
  padding: 35px 35px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align_horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.envelope {
  width: 48px;
  color: #12b174;
}

.verification_panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
  color: #919191;
  font-size: 0.9rem;
}

.verification_panel::after {
  content: '';
  position: absolute;
  left: calc(50% - 40px);
  bottom: 0;
  width: 80px;
  border-bottom: 2px solid #ccc;
}

.verification_heading {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #57584e;
}

.verification_footer {
  font-size: 0.8rem;
  padding: 24px 0;
}

.bold {
  font-weight: 600;
}

.form {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  padding: 16px 32px;
  width: 100%;
  max-width: 560px;
  margin: auto;
}

.row {
  display: flex;
  gap: 32px;
}

.password_criteria_wrap {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0;
}

.password_criteria {
  color: #ff1414;
  font-size: 0.7rem;
  font-weight: bold;
}

.password_criteria.header {
  color: inherit;
}

.password_criteria.satisfied {
  color: #1fd735;
}

.google_btn_wrap {
  padding-bottom: 24px;
}

.consent_row {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

.submit_btn_placeholder {
  width: 100%;
  padding: 16px 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  background-color: #0c2f8f;
  opacity: 0.3;
  border-radius: 4px;
  margin-top: 24px;
}
