.h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.h2 {
  font-family: Plus Jakarta Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -2px;
  text-align: left;
  margin: 0;
}

.text_accent {
  color: #89e101;
}

.star {
  flex: 0 0 23.03px;
  width: 23.03px;
  height: 22px;
  background-size: cover;
  background-image: url(../../assets/images/star.svg);
}

.av {
  width: 44.99px;
  height: 44.99px;
  border-radius: 158.47px;
}

.name {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.designation {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}

.form_wrap {
  max-width: 480px;
  width: 100%;
  height: max-content;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.password_criteria_wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0;
}

.password_criteria {
  color: #ff1414;
  font-size: 0.7rem;
  font-weight: bold;
}

.password_criteria.header {
  color: inherit;
}

.password_criteria.satisfied {
  color: #1fd735;
}

.forgot_password_header {
  color: #0e2f5a;
  font-size: 1.2rem;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #dfdfdf;
}

.chooser_link {
  position: relative;
  width: 310px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #f56a41;
  color: var(--primary-color-dark);
  font-weight: bold;
  font-size: 1.4rem;
  transition: all 0.3s linear;
  text-align: center;
  cursor: pointer;
}

.chooser_link:hover {
  background-color: #f56a41;
}

.success_panel {
  width: 384px;
  background: #fff;
  border-radius: 3px;
  padding: 35px 35px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.envelope {
  width: 48px;
  color: #12b174;
  transition: transform 0.3s linear;
}

.envelope.error {
  color: #e7260c;
}

.verification_panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
  color: #919191;
  font-size: 0.9rem;
}

.verification_panel::after {
  content: '';
  position: absolute;
  left: calc(50% - 40px);
  bottom: 0;
  width: 80px;
  border-bottom: 2px solid #ccc;
}

.verification_heading {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 600;
  color: #57584e;
}

.verification_heading.error {
  color: #e7260c;
}

.verification_heading.center {
  text-align: center;
}
