.container {
  overflow: auto;
}

.main {
  max-width: 960px;
  margin: auto;
  padding: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}

.heading {
  position: relative;
  color: #33475b;
  font-size: 1.6rem;
  text-align: center;
  padding-left: 36px;
  display: flex;
  align-items: center;
  min-height: 44px;
  margin-bottom: 0;
  font-family: 'M PLUS 1', sans-serif;
}

.heading::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-image: url(../../assets/images/lx-blue.png);
}

.accented {
  color: #89e101;
}

.heading_text {
  text-align: center;
  font-size: 0.875rem;
  line-height: normal;
  color: #33475b;
}

.table_section {
  padding: 72px 0 48px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  color: #fff;
  background-color: var(--primary-color-dark);
  font-size: 0.875rem;
  text-transform: inherit;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
}

.table td {
  height: 72px;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 1px solid #dfe3eb;
}

.table th,
.table td {
  padding: 16px 24px;
}

.table th.features_heading {
  font-size: 1.2rem;
  text-align: left;
}

.table td.feature {
  font-weight: bold;
}

.table td:not(.feature) {
  text-align: center;
}

.table td svg {
  color: #00bda5;
  width: 24px;
  height: 24px;
}
