.container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dimmed {
  position: relative;
}

.dimmed::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80px;
  color: #fff;
  padding: 16px 16px 8px 240px;
  background-color: #011c39;
  background-size: cover;
}

.header.mini {
  padding-left: 124px;
  height: 100px;
}

.profile_picture_wrap {
  position: absolute;
  left: 12px;
  top: 24px;
  width: 216px;
  height: 162px;
  background-color: #9aa8b7;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.header.mini .profile_picture_wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: unset;
  top: 8px;
}

.profile_picture {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.header.mini .profile_picture {
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

.aside {
  position: relative;
  height: 100%;
  flex: 0 0 240px;
  border-right: 1px solid #eee;
  padding-top: 116px;
}

.aside::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 116px;
  background: linear-gradient(#050505, #fdfeff);
  z-index: -1;
}

.heading_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #fff;
  font-size: 0.9rem;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #011c39;
  font-family: 'M PLUS 1', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.28px;
  margin: 0;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content.mini {
  flex-direction: column;
}

.aside_links {
  position: relative;
  background-color: #fff;
  height: 100%;
  overflow: auto;
}

.aside_link {
  color: var(--primary-color-dark);
  padding: 16px 8px 16px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border-right: 2px solid transparent;
}

.aside_link:hover {
  background-color: #efefef;
}

.aside_link.active {
  font-weight: bold;
  border-right-color: var(--primary-color-dark);
  position: relative;
}

.categories_select_panel {
  position: relative;
  padding: 12px 24px;
  display: flex;
  justify-content: flex-end;
  background-color: #eaf2fa;
}

.select_wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 180px;
}

.select_label_text {
  font-size: 0.8rem;
  font-weight: bold;
}

.main {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.service_container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sub_header {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.service_container.mini .sub_header {
  flex-direction: column;
  gap: 4px;
}

.back_btn_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.service_heading {
  font-size: 1.01rem;
  margin-bottom: 0;
}

.service_container.mini .service_heading {
  font-size: 0.8rem;
}

.card_list_wrap {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 12px;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
}

.table_card {
  box-shadow: 0 1px 0.625rem 0 rgba(52, 56, 60, 0.06), 0 0.125rem 0.25rem 0 rgba(52, 56, 60, 0.08);
  height: 100%;
  padding: 16px 32px;
  overflow: auto;
}

.empty_notice {
  font-weight: bold;
  font-size: 1.2rem;
  color: #858b9c;
  padding-top: 32px;
}

.empty_notice.small {
  font-size: 0.8rem;
}

.empty_notice.center {
  text-align: center;
}

.service_card_wrap {
  width: 100%;
  padding: 12px;
}

.service_card_wrap.image_wrap {
  padding: 4px;
}

.service_card {
  position: relative;
  width: 100%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-size: 100% 100%;
  transition: all 0.3s linear;
}

.service_card.service {
  height: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.service_card.image {
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 0;
}

.service_card.service:hover {
  transform: scale(1.02);
}

.service_name {
  position: relative;
  width: 100%;
  color: #abb0cf;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 8px;
  border-radius: 8px 8px 0 0;
}

.view_service_images {
  position: absolute;
  left: 8px;
  top: 8px;
  display: flex;
  padding: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.7rem;
  text-decoration: underline;
  background-color: transparent;
}

.view_service_images * {
  pointer-events: none;
}

.view_service_time_slots_btn {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 36px 12px 8px;
  color: #fff;
  background-color: transparent;
  border-radius: 0 0 8px 8px;
}

.view_service_time_slots_btn * {
  pointer-events: none;
}

.view_service_time_slots_price_wrap {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.view_service_time_slots_price {
  padding: 8px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-accent);
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.view_service_time_slots_duration {
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: 50%;
  padding-top: 4px;
  color: #ddd;
}

.view_service_time_slots_arrow_wrap {
  width: 100%;
  padding: 0 0 8px;
  display: flex;
  justify-content: flex-end;
}

.view_service_time_slots_arrow {
  position: relative;
  font-size: 0.7rem;
  padding-right: 32px;
}

.view_service_time_slots_arrow::after {
  content: '';
  position: absolute;
  right: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  transform-origin: center;
  transform: rotate(180deg);
  mask: url(../../assets/images/back.svg);
}

.service_link {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.service_container.mini .slot_date_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.slot_card {
  width: 100%;
  text-align: left;
  max-width: 240px;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.slot_card:hover {
  box-shadow: 2px 4px 4px 2px var(--color-accent);
}

.slot_card_slider {
  position: relative;
  width: 100%;
  padding: 12px 6px;
  font-size: 0.7rem;
  border-radius: 6px;
  color: #fff;
  display: none;
  background-color: var(--color-accent);
  text-align: center;
}

.slot_card:hover .slot_card_slider {
  display: block;
}

.pad_bottom {
  padding-bottom: 32px;
}

.scaler {
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 0.3s linear;
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: all;
}

.scaler.scaled {
  transform: scale(1);
}

.return_policy_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 800px;
  overflow: auto;
  margin: auto;
  background-color: #fff;
}

.terms_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
  background-color: #efefef;
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.hero_profile_picture_wrap {
  border-radius: 12px;
  overflow: hidden;
  max-height: 100%;
}

.hero_profile_picture {
  width: 100%;
  max-height: 480px;
  border-radius: 12px;
}

.hero_text_wrap {
  display: flex;
  flex-direction: column;
}

.hero_heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #011c39;
  font-family: 'M PLUS 1', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.28px;
  margin: 0;
  padding-bottom: 12px;
}

.hero_about_us {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Barlow Condensed', Roboto, sans-serif;
  letter-spacing: 1.4px;
  line-height: 1.6;
  margin: 0;
}

.multi_line_ellipsis {
  position: relative;
  overflow: hidden;
}

.hero_controls {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

.provider_contacts {
  border-radius: 12px;
  border-color: rgba(255, 255, 255, 0.3);
}

.contacts_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 4px;
}

.contact_row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 0.9rem;
}

.contact_row.address {
  color: #888;
}

.contact_row::before {
  content: '';
  flex: 0 0 18px;
  height: 18px;
  background-color: #9aa8b7;
}

.contact_row.address::before {
  mask: url(../../assets/images/marker.svg);
}

.contact_row.phone::before {
  mask: url(../../assets/images/phone.svg);
}

.body {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 24px;
  padding: 24px;
}

.body_aside {
  flex: 0 0 320px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #e8eaed;
}

.body_aside_sections {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.body_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 800px;
  overflow: hidden;
}

.services_wrap {
  flex: 1;
  overflow: auto;
}

.services_panel {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  font-family: 'Barlow Condensed', Roboto, sans-serif;
}

.body_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-bottom: 16px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #ededed;
}

.services_heading {
  font-size: 1.3rem;
}

.aside_heading {
  font-size: 1rem;
  margin-bottom: 8px;
}

.categories_list {
  border: 1px dotted #ededed;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 6px;
  max-height: 120px;
  overflow: auto;
}

.category_btn {
  background-color: transparent;
  border: 1px solid #888;
  color: #888;
  border-radius: 8px;
  padding: 3px 6px;
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

.category_btn.active {
  border-color: #0fad71;
  color: #0fad71;
}

.business_hours_panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.business_hour_row {
  display: flex;
  align-items: center;
}

.business_hour_row .label {
  width: 120px;
}

.search_wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #efefef;
  padding: 6px 12px;
  border-radius: 4px;
}

.search_wrap::before {
  content: '';
  flex: 0 0 18px;
  height: 18px;
  background-color: #3c4046;
  mask: url(../../assets/images/search.svg);
}

.search {
  padding: 6px 16px 6px 0;
  display: block;
  min-width: 240px;
}

.map_container {
  width: 100%;
  height: 0;
}

.map_container.loaded {
  height: 180px;
}

.footer {
  padding: 0 24px;
}

@media only screen and (min-width: 768px) {
  .hero {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .hero_profile_picture_wrap {
    grid-column: 1 / span 3;
  }

  .hero_text_wrap {
    grid-column: 4 / span 2;
  }

  .hero_heading {
    font-size: 40px;
  }
}
