.container {
  position: relative;
  flex: 1;
  height: 100%;
}

.heading {
  padding: 24px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted #ddd;
}

.body {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 32px;
}

.icon_btn {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: transparent;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.icon_btn:hover {
  transform: scale(1.05);
}

.icon_btn img,
.icon_btn svg {
  height: 100%;
  pointer-events: none;
}

.stripe_svg {
  transform: translateX(-12px);
  z-index: -1;
}
