.radio_label {
  position: relative;
  cursor: pointer;
}

.radio_label input[type="radio"] {
  position: absolute;
  -webkit-clip-path: circle(1px);
  clip-path: circle(1px);
  color: transparent;
  background-color: transparent;
  overflow: hidden;
  bottom: 0;
  right: 0;
}

.radio_label span {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 0.3s ease;
}

.radio_label span::before {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
  border-width: 4px;
  transition: all 0.2s ease;
}

.radio_label input[type="radio"]:checked + span {
  font-weight: bold;
}

.radio_label input[type="radio"]:checked + span::before {
  background-color: #abff00;
}
